<nav class="navbar">
	<a class="navbar-brand">
		<svg style="color:#EFE356;margin-top:-7px;margin-right:15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-right-fill" viewbox="0 0 16 16">
			<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
		</svg>
		Blog
	</a>

	<a href="/public" style="margin-right:950px;" class="navbar-brand">
		<button class="btn btn-dark" style="font-size: 15px;font-family: 'Koulen', cursive;letter-spacing: 7px;">Accueil</button>
	</a>

	{% if app.user %}
		<a href="{{ path('security_logout') }}" style="" class="navbar-brand">
			<button class="btn btn-info" style="font-size: 15px;font-family: 'Koulen', cursive;letter-spacing: 7px;">
				Deconnexion
				<i class="fas fa-user-alt"></i>
			</button>
		</a>
	{% else %}
		<a href="{{ path('security_login') }}" style="" class="navbar-brand">
			<button class="btn btn-dark" style="font-size: 15px;font-family: 'Koulen', cursive;letter-spacing: 7px;">
				Se connecter
				<i class="fas fa-user-alt"></i>
			</button>
		</a>
	{% endif %}


</nav>
<style>
	.navbar-brand {
		color: #262626 !important;
		font-size: 26px !important;
		text-transform: uppercase !important;
		letter-spacing: 7px !important;
		font-family: 'Koulen', cursive !important;
	}
</style>
